<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Projeto final de Estruturas de Dados II</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Feito usando Node, Express, Express-handlebars, Body-parser, Sequelize, Sqlite3, Nodemon e Bootstrap</p>
                <a class="btn btn-primary btn-xl" href="/pessoas/surprise">Surpresa :D</a>
            </div>
        </div>
    </div>
</header> 
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Feito por Amanda de Oliveira Laurindo e Bruno Andrade Ribeiro</div></div>
</footer>